@model BitirmeTeziKerim.Models.SayilarTablo

@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Detay</h1>

<div>
    <h4>Sayilar Tablosu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrenimDuzeyi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrenimDuzeyi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AkademikBirim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AkademikBirim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kadin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kadin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erkek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erkek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toplam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toplam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sayilar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sayilar.SayiTablo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
