@model IEnumerable<BitirmeTeziKerim.Models.SayilarTablo>

@{
    ViewData["Title"] = "Sayılar Tablosu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h1><b>Admin Paneli</b></h1>
<br />
<h1>Sayılar Tablosu</h1>

<a asp-action="Create">
    <input type="submit" value="Yeni Tablo Oluştur" class="btn btn-danger" />
</a>
<br />
<br />
<table class=" table">
    <thead class="btn-outline-danger btn-primary">

        <tr>
            <th>
                <h1>  @Html.DisplayNameFor(model => model.Sayilar)</h1>
            </th>
            <th>
                <h1>  @Html.DisplayNameFor(model => model.OgrenimDuzeyi)</h1>
            </th>
            <th>
                <h1>  @Html.DisplayNameFor(model => model.AkademikBirim)</h1>
            </th>
            <th>
                <h1>  @Html.DisplayNameFor(model => model.Kadin)</h1>
            </th>
            <th>
                <h1>  @Html.DisplayNameFor(model => model.Erkek)</h1>
            </th>
            <th>
                <h1>  @Html.DisplayNameFor(model => model.Toplam)</h1>
            </th>

            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="btn-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.Sayilar.SayiTablo)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OgrenimDuzeyi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AkademikBirim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kadin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Erkek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toplam)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>