@model BitirmeTeziKerim.Models.PersonelTablo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Detay</h1>

<div>
    <h4>PersonelTablo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AkademikPersonel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AkademikPersonel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unvan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unvan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sayi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sayi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdariPersonel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdariPersonel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sayi1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sayi1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Başa geri dön.</a>
</div>
