@model IEnumerable<BitirmeTeziKerim.Models.PersonelTablo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1><b>Admin Paneli</b></h1>
<br />
<br />
<h1>Personel Tablosu</h1>

<br />
<br />
<p>
    <a class="btn btn-danger" asp-action="Create">Tabloya Ekleme Yap</a>
</p>
<br />
<br />
<table class="table">
    <thead class="btn-danger">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AkademikPersonel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unvan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sayi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdariPersonel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sayi1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="btn-success">
                <td>
                    @Html.DisplayFor(modelItem => item.AkademikPersonel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unvan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sayi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdariPersonel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sinif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sayi1)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
